:host {
  display: flex;
  width: 202px;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header__social-img {
  height: 13px;
}
.header__social-img:nth-child(1) {
  width: 20px;
}

.header__social-img:nth-child(2),
.header__social-img:nth-child(3) {
  width: 15px;
}

.header__social-img:nth-child(4) {
  width: 13px;
}

.header__social-image {
  width: 100%;
  height: 100%;
}

.header__social-counter {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5em;
  line-height: 12px;
  color: #000000;
}
