:host {
  display: flex;
  //width: 5.8%;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.header__settings {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../assets/settings.svg") center/cover no-repeat #2F80ED;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(2px 0px 4px #2F80ED);
  cursor: pointer;
}

.header__settings:hover {
  filter: unset;
}
