:host {
  display: flex;
  width: 264px;
  height: 327px;
  box-sizing: content-box;
  padding-top: 31px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #E5E5E5;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.header__card-top {
  display: flex;
  height: 201px;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
}

.header__card-img {
  align-self: center;
  width: 223px;
  height: 167px;
}

.header__card-image {
  width: 100%;
  height: 100%;
}

.header__card-description {
  align-self: self-end;
  padding: 0 21px 0 19px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 23px;
  color: #4F4F4F;
}

.header__card-button {
  display: flex;
  width: 120px;
  height: 32px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(2px 0px 4px #2F80ED);
  cursor: pointer;
  transition: margin-top 0.3s linear;
}

.header__card-button:hover {
  margin-top: 65px;
  background: #5EA2FF;
  filter: unset;
}

.header__card-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 14px;
  color: #FFFFFF;
}

.header__card-bottom {
  width: 100%;
  height: 5px;
  //background: #2F80ED;
  border-radius: 0 0 5px 5px;
}
