:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__wrapper {
  display: flex;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 31px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}
