:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header__sort-date {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 14px;
  text-decoration-line: underline;
  color: #2F80ED;
  cursor: pointer;
  user-select: none;
}

.header__sort-date:active {
  text-decoration-line: underline;
  color: #710ab0;
}
