:host {
  display: flex;
  box-sizing: border-box;
  width: 134px;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__login-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 14px;
  text-align: right;
  color: #4F4F4F;
}

.header__login-button {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(2px 0 4px rgba(30, 86, 164, 0.81));
  cursor: pointer;
}

.header__login-button:hover {
 filter: unset;
}

.header__login-img {
  object-fit: cover;
}
